Решетняк/adoTask2/adoTask2/XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PHONES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PHONE" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name ="COMPANY" type="xs:string"/>
              <xs:element name ="PRICE" type ="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name ="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
