Шершов/task2/ConsoleApplication5/parking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="db" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parking">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="car" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
				<xs:element type="xs:string" name="place" />
				<xs:element type="xs:string" name="mark" />
				<xs:element type="xs:string" name="number" />				
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>