Бирюков/Task_2_ADO/Task_2_ADO/TeplateFootballers.xsd

<?xml version="1.0" encoding="utf-8" ?>

  <xs:schema id="ComicsLibrary"
      elementFormDefault="qualified"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
  >

  <xs:element name ="group">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="FOOTBALLER">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string"/>
              <xs:element name="CLUB" type ="xs:string"/>
              <xs:element name="NUMBER" type ="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>

  </xs:element>
  
</xs:schema>