Артемов/Task2DB/Task2DB/XMLFile1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name ="legoStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name ="legoItem" maxOccurs ="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MARKING" type="xs:integer"/>
              <xs:element name="PIECES" type="xs:integer"/>
              <xs:element name="PRICE" type="xs:decimal"/>
              <xs:element name="AGE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>    
  </xs:element>  
</xs:schema>
