Гарин/Ado_task2/Ado_task2/TemplateShop.xsd

<?xml version="1.0" encoding="utf-8" ?>

  <xs:schema id="ComicsLibrary"
      elementFormDefault="qualified"
      xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name ="shop">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="product">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="type" type="xs:string" />
              <xs:element name="price" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>